append head
  //- add page specific styles by appending to the head
  meta(name="description" content="GoodGames")
  meta(name="title" property="og:title" content="GoodGames")
  meta(property="og:type" content="Website")
  meta(name="image" property="og:image" content="https://live.staticflickr.com/65535/51142975341_78af3c55e3_z.jpg")
  meta(name="description" property="og:description" content="GoodGames is an game cataloging website that allows individuals to rate, comment on, and browse video games of all types. Users can sign up and register to add games to their Game Center to let others know what games they want to play, what they are currently playing, and what they have already played.")
  meta(name="author" content="GoodGames")
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton
