include utils.pug

html
  head
    title="GoodGames"
    link(rel='stylesheet' href='/stylesheets/log-in.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
  body.login_body.background_image
      .login_content
        +validationErrorSummary(errors)
        #title
          img(src="/images/title_header.png", alt="", srcset="")
      form(action='/login' method='post')
          input(type='hidden' name='_csrf' method='post' value=csrfToken)
          div(class="main")
              p(class="sign" align="center") Demo Login
                  div(class="sign")
                      input(type='text' name='username' class='un' value='DemoUser' required)
                      input(type='email' name='email' class='un' value='demo@user.com' required)
                      input(type='password' name='password' class='un' value='P@ssw0rd' required)
                      button(type='submit' class='submit') Login
                      div
                        a(href='/signup' class="missing") Want to Signup? Click Here!
