html
  head
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    script(src="/javascripts/search.js")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
    block head
      .navbar
        .navbar_logo
            a(href='/games')
              img(class='navbar_Img' src="/images/logo.png", alt="", srcset="")
        .navbar_search
          form(action=`/search/games/1`, method="post")
            input(class='searchBar' id="searchBar" type="search", placeholder='Search Games')
            input(type="hidden", name="")
            button.logout(type="submit")
        ul.navbar_list
          a(href='/games') Home
            li
          a(href=`/users/${userId}`) My Profile
            li
          a(href=`/users/${userId}`) My Comments
            li
          form(action="/users/logout", method="post")
            button.logout(type="submit")
              img(class='navbar_Img' id='navbar_logout' src="/images/logout.png", alt="", srcset="")
              li
