html
  head
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    script(src="/javascripts/search.js")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
    block head
      .navbar
        .navbar_logo
            a(href='/games')
              img(class='navbar_Img' src="/images/logo.png", alt="", srcset="")
        .navbar_search
            input(class='searchBar' id="searchBar" type="search", placeholder='Search Games')
        ul.navbar_list
          a(href='/games') Home
            li
          a(href=`/users/${userId}`) My Profile
            li
          a(href=`/users/${userId}`) My Comments
            li
          form(action="/users/logout", method="post")
            button.logout(type="submit")
              img(class='navbar_Img' id='navbar_logout' src="/images/logout.png", alt="", srcset="")
              li

    footer
      block footer
        .column
          h3.footer_h3 About Us
          p.footer_p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore amet, vitae, ipsa doloremque doloribus, aspernatur earum eaque soluta architecto omnis molestiae aperiam corporis accusamus fugit.
        .column
          h3.footer_h3 important
          ul.ul_footer
            li
              a(href='#') link 1
            li
              a(href='#') link 2
            li
              a(href='#') link 3
            li
              a(href='#') link 4
        .column
          h3.footer_h3 important
          ul.ul_footer
            li
              a(href='#') link 1
            li
            a(href='#') link 2
            li
              a(href='#') link 3
            li
              a(href='#') link 4
      .bottom
        p.footer_p &copy; copyright 2020 
