html
  head
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    block head
      div.nav
        ul
          li.logo
            img(class="logo" src="./images/logo.png", alt="Logo")
          li.nav_button
            a(href='/games') Home
          li.nav_button
            a(href=`/users/${userId}`) My Profile
          li.nav_button
            a(href='/') Place Holder
          li.nav_button
            a(href='/') Place Holder
          li.nav_button 
            a(href='/logout') Logout
