html
  head
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    script(src="/javascripts/search.js")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
    block head
      .navbar
        .navbar_logo
            a(href='/games')
              img(class='navbar_Img' src="/images/logo.png", alt="", srcset="")
        ul.navbar_list
          .navbar_search
            input(class='searchBar' id="searchBar" type="search", placeholder='Search Games')
            .navbar_links
              a(href='/games') Home
                li
              a(href=`/users/${userId}`) My Profile
                li
              a(href=`/users/${userId}`) My Comments
                li
          .powerButton
            form(action="/users/logout", method="post")
              button.logout(type="submit")
                img(class='navbar_Img' id='navbar_logout' src="/images/logout.png", alt="", srcset="")


    footer
      block footer
        .footer_content
          .column_about
            h3.footer_h3 About Us
            p.footer_p
              | You know that smartphone app you rely on? That computer game that kept you transfixed for hours as a kid? That program that helps you budget and track expenditures? We help create all of them. As graduates of App Academy, we have what it takes as full-stack software developers to make your ideas come true.
          .column_links
            h3.footer_h3 Who we are
            ul.ul_footer
              li
                a(href='https://github.com/RoodeAwakening') Derek Roode
              li
                a(href='https://github.com/tedjanton') Ted Anton
              li
                a(href='https://github.com/RobWhit5113') Rob Whitacre
    .bottom
      p.footer_p &copy; copyright 2021
