html
  head
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    block head
      .navbar
        .navbar_logo
            a(href='/games') 
              img(class='imgLogo' src="/images/logo.png", alt="", srcset="")
        .navbar_search
          input(type="search", placeholder='Search Games')
        ul.navbar_list
          li
            a(href='/games') Home
          li
            a(href=`/users/${userId}`) My Profile
          li
            a(href=`/users/${userId}`) My Comments
          li
            form(action="/users/logout", method="post")
              button.logout(type="submit") Logout
                 

