html
  head
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    block head
      div.nav
        ul
          li.nav_button 
            a(href='/games') 
              img(class='imgLogo' src="/images/logo.png", alt="", srcset="")
          li.nav_button
            a(href='/games') Home
          li.nav_button
            a(href=`/users/${userId}`) My Profile
          li.nav_button
            form(action="/users/logout", method="post")
              button(type="submit") Logout
                 

