.navbar
  .navbar_container
    .navbar_logo
      a(href='/')
        img(src="/images/logo.png")
    ul.navbar_list
      li 
        a(href='/home') Home
      li 
        a(href='/home') Home
      li 
        a(href='/home') Home
      li 
        a(href='/home') Home
    .navbar_search
      input(type="search", placeholder='Search Games')
    .navbar_user
      a(href='/')
        img(src="", alt="userPic", srcset="")