body {
  background-color: #e8e8e8;
  font-family: 'Ubuntu', sans-serif;
  color: #30475e;
}

.welcome {
  margin: 2% 4%;
}

.subheader {
  font-size: 18px;
  font-weight: normal;
}

.game-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2em;
  background-color: #FFFFFF;
  width: 300px;
  height: 230px;
  border-radius: 1em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  transition: 1s;
}

.game-container:hover {
  transform: scale(1.2);
	box-shadow: 2px 2px 10px #000;
}
.title {
  display: grid;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.rating {
  display: inline-block;
  position: relative;
  bottom: 4px;
}

.rating::after {
  content: "% would recommend";
}

img {
  max-width: 300px;
}
