body {
  background-color: #e8e8e8;
  font-family: 'Ubuntu', sans-serif;
  color: #30475e;
  font-size: 18px;
}

.game-title {
  margin: 40px 40px;
  text-align: center;
}

.game-container {
  display: grid;
  margin: 1.2em;
  border-radius: 1em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  transition: 1s;
  font-size: 18px;
  background-image: game;
}

.game-container-background {
  display: initial;
  border-image-repeat: repeat;
  width: 1000px;
}

.game-image{
  padding-top: 1em;
}
.game-description {
  display: flex;
  justify-content: center;
  margin: 1.1em 10%;
  font-size: 18px;
  font-weight: normal; 
}

.game-description p{
  width: 460px;
  
}

.game-voting{
  display: flex;
  justify-content: center;
}

.up{
  background-color: #1ce90a;
  box-shadow: 0px 0px 20px 5px #1ce90a;
  margin: 1em 1em;
}

.down{
  background-color: #d80e0e;
  box-shadow: 0px 0px 20px 5px rgb(211, 16, 9);
  margin: 1em 1em;
}

.game-rating {
  display: block;
  font-size: 24px;
  font-weight: normal;
  justify-content: center;
  margin: 1em;
}

#ratingsBtns{
  display: flex;
  justify-content: center;
    
}

.red{
  background-color: red;
}

.thumb{
  width: 30px;
  height: auto;
}

.status-form{
  display: block;
  margin: 1em;
}

.statusBtn{
  margin-top: 1em;
}

.statusBtn:hover{
  box-shadow: 0px 0px 10px 5px rgb(211, 16, 9);
  background-image: linear-gradient(to right, #ff000075 0%, #ff0000 51%, #ff00007e 100%);
}


.details{
  font-style: normal;
  font-size: small;
    display: flex;
    justify-content: center;
}

.detail_images{
  width: 30px;
}


.game-console,
.game-publisher,
.game-genre,
.game-players {
  font-weight: normal;
  margin: 0;
  padding-right: 1em;
}

.game-comment-form {
  display: grid;

}

#comment_box{
  width: 400px;
  height: 50px;
}
