body {
  background-color: #e8e8e8;
  background-image: url(../images/retro-background.jpg);
  background-position: center;
  background-size: cover;
  height: -webkit-fill-available;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  color: #2c2c2c;
}

.games_page_header{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.welcome {
  display: grid;
  flex-direction: column;
  text-align: center;
  margin: 40px 12px 12px 12px;
  color: #2c2c2c;
  background-color: rgba(199, 199, 199, 0.85);
  border-radius: .5em;
  width: 85%;
  padding: 15px;
  font-size: 35px;
}

#title{
  display: flex;
  height: 75px;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: #30475e;
  max-width: fit-content;
  height: fit-content;
  background-color: rgba(199, 199, 199, 0.90);
  border-radius: 1em;

}

.image-header {
  padding-top: 2%;
}

#welcome{
  width: 700px;
  padding: 2%;
}

.subheader p {
  font-size: 18px;
  margin: 10px 0;
  padding: 1%;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.game-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2em;
  background-color: rgba(199, 199, 199, 0.90);
  width: 300px;
  height: 230px;
  border-radius: 1em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  transition: 1s;
}

.game-container:hover {
  transform: scale(1.2);
	box-shadow: 2px 2px 10px #000;
}
.title {
  display: grid;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.rating {
  display: inline-block;
  position: relative;
  bottom: 4px;
}

.rating::after {
  content: "% would recommend";
}

.game-img {
  max-width: 300px;
}
