body {
  background-color: #e8e8e8;
  background-image: url(../images/game_detail_background.jpg);
  background-position: center;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  color: #2c2c2c;
  font-size: 18px;
}

button {
  font-family: 'Ubuntu', sans-serif;
}

.red {
  background-color: red;
}

.head {
  background-color: rgba(199, 199, 199, 0.85);
  border-radius: 1em;
  max-width: 1100px;
  margin: 0 auto;
}

.game-title {
  display: flex;
  padding-top: 40px;
  text-align: center;
  justify-content: center;
}

.game-body {
  display: flex;
  padding-right: 10px;
}

.game-container {
  display: grid;
  margin: 1.2em;
  border-radius: 1em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  transition: 1s;
  font-size: 18px;
  background-image: game;
}

.game-comment-container {
  padding-top: 10px;
}

.game-container-background {
  display: grid;
  align-content: center;
  width: 1000px;
  grid-template-columns: 4fr 3fr;
  padding: 0px;
  margin: auto;
}

.game-image {
  align-items: center;
  padding-top: 1em;
  margin: 1.1em 10%;
  padding: 0px 10px;
  width: auto;
}
.game-description {
  display: flex;
  justify-content: center;
  margin: 1.1em 10%;
  font-size: 18px;
  font-weight: normal;
}

.game-voting {
  display: flex;
  justify-content: center;
}

.up {
  background-color: #1ce90a;
  margin: 1em 1em;
}

.up:hover {
  box-shadow: 0px 0px 20px 5px #1ce90a;
}

.down {
  background-color: #d80e0e;
  margin: 1em 1em;
}

.down:hover {
  box-shadow: 0px 0px 20px 5px rgb(211, 16, 9);
}

.game-rating {
  display: block;
  font-size: 24px;
  font-weight: normal;
  justify-content: center;
  margin: 0px;
}

#percentage {
  justify-content: center;
  align-items: center;
  display: flex;
}

#ratingsBtns {
  display: flex;
  justify-content: center;
}

.thumb {
  width: 30px;
  height: auto;
  margin: 10px;
}

.details {
  font-style: normal;
  font-size: small;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.detail_images {
  width: 30px;
}

.game-console,
.game-publisher,
.game-genre,
.game-players {
  font-weight: normal;
  margin: 1em;
}

.game-comment-form {
  display: grid;
  padding: 20px;
  border-top: solid grey;
}

.game-detail-comments {
  height: 250px;
  overflow-y: scroll;
}

.game-detail-comment {
  display: flex;
  font-size: 14px;
}

.game-comment-user {
  padding-right: 10px;
}

#comment_box {
  width: 400px;
  height: 50px;
}

.status-form {
  display: flex;
  justify-content: center;
  margin: 1em;
  padding-top: 7px;
  padding-bottom: 20px;
}

.status-form label {
  display: flex;
  justify-content: center;
}

.statusBtn {
  margin-top: 1em;
  /* background-color: #30475e; */
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.statusBtn:hover {
  box-shadow: 0px 0px 10px 5px rgb(211, 16, 9);
  background-image: linear-gradient(
    to right,
    #ff000075 0%,
    #ff0000 51%,
    #ff00007e 100%
  );
}
