body {
  background-color: #e8e8e8;
  background-image: url(../images/game-center-background.jpg);
  background-position: center;
  background-size: cover;
  height: -webkit-fill-available;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  color: #2c2c2c;
  font-size: 18px;
}

.topContainer{
  display: flex;
  justify-content: center;
}

.header-container {
  flex-direction: column;
  margin: 40px 12px 12px 12px;
  padding: 20px 20px 5px 20px;
  font-size: 35px;
  display: flex;
  height: 75px;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  font-family: "Ubuntu", sans-serif;
  color: #2c2c2c;
  max-width: fit-content;
  height: fit-content;
  background-color: rgba(199, 199, 199, 0.9);
  border-radius: .5em;
}

.header {
  font-size: 35px;
  margin: 0;
}

.subheader {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #30475e;
  margin: 0;
  padding: 0;
}

.profile-sections {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

.my-comments {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.my-comments-container {
  display: flex;
  justify-content: space-around;
  margin: 1.2em;
  padding: 3%;
  border-radius: 1em;
  background-color: rgba(199, 199, 199, 0.85);
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  font-size: 18px;
  overflow-y: scroll;
  height: 450px;
}

.comment_overflow {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
}

caption {
  padding: 3%;
  font-weight: bolder;
  font-size: 20px;
}

.table-header {
  border-bottom: 5px solid black;
}

th,
td {
  padding: 2%;
  margin: 2%;
}

tbody {
  font-size: 12px;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 200px;
}

.toPlay-container,
.playing-container,
.played-container {
  max-width: 200px;
}

.toPlay,
.playing,
.played {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  overflow-y: scroll;
  height: 550px;
}

::-webkit-scrollbar {
  display: none;
}

.game-title-and-img {
  background-color: #ffffff;
  padding: 1em 0 0 0;
  margin: 1em 0;
  width: 200px;
  height: auto;
  border-radius: 0.5em;
  /* box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14); */
}

.game-list {
  box-sizing: border-box;
  font-weight: normal;
  font-size: 16px;
}
.my-games-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(199, 199, 199, 0.85);
  margin: 1.2em;
  border-radius: 1em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  font-size: 18px;
  height: 600px;
}
