body {
  background-color: #e8e8e8;
  font-family: 'Ubuntu', sans-serif;
  color: #30475e;
  font-size: 18px;
}

.header {
  margin: 40px 40px;
  font-size: 40px;
}

.subheader {
  font-size: 20px;
  margin-left: 40px;
  font-weight: 50;
}

.profile-sections {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

.my-comments {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.my-comments-container {
  display: flex;
  justify-content: space-around;
  margin: 1.2em;
  padding: 3%;
  border-radius: 1em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  font-size: 18px;
  overflow-y:scroll;
  height: 732px;
}

.comment_overflow{
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
}

caption {
  padding: 3%;
  font-weight: bolder;
  font-size: 20px;
}

th, td {
  padding: 2%;
  margin: 2%;
}

tbody {
  font-size: 12px;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 200px;
}

.toPlay-container,
.playing-container,
.played-container {
  max-width: 200px;
  
}

.toPlay,
.playing,
.played {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  overflow-y:scroll;
  height: 720px;
}

::-webkit-scrollbar {
  display: none;
}

.game-title-and-img {
  background-color: #FFFFFF;
  padding: 1em 0 0 0;
  margin: 1em 0;
  width: 200px;
  height: auto;
  border-radius: .5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.game-list {
  box-sizing: border-box;
  font-weight: normal;
  font-size: 16px;
}
.my-games-container {
  display: flex;
  justify-content: space-around;
  margin: 1.2em;
  border-radius: 1em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  font-size: 18px;
  height: 750px;
  
}