:root{
  --purple: #731e8d;
}

.navbar{
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  background-color:var(--purple);
  height: 55px;

  border: solid greenyellow;
  box-shadow: 0px 0px 07px 5px greenyellow;
  width: 98%;
  margin-right: 10px;
  }


.navbar_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;

}

.navbar_Img{
  display: flex;
  justify-content: flex-start;
    width: 80px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 7px;

}

.navbar_search{
  display: flex;
  justify-content: flex-start;
  padding: 1px 26px 1px 8px;
  margin: 0px;
  flex: 1px;
  width: 100px;
  align-items: center;
}



.searchBar{
  width: 250px;
}



.navbar_list,
.navbar_links{
display: flex;

align-items: center;
padding: 1px 1px 1px 1px;
margin: 0px;
width:100%;

}

.navbar_links{
  padding-left: 30px;
}

.navbar_list li,
.navbar_links li{
  display: flex;
  list-style: none;

  }

  .navbar_links a:hover{
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #4cc9f0;
  box-shadow: 0px 0px 20px 13px rgba(76, 201, 240, 1);
}

.navbar_links a{
  margin-right: 10px;
  padding: 8px 3px;
  color: rgb(150, 248, 3);
}

.powerButton{
  width: 75px;
  display: flex;
  justify-content: flex-end;
  
}
form{
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;
}

.logout{
  cursor: pointer;
  background: none;
  text-transform: uppercase;
  text-decoration: underline;
  border: none;

}

#navbar_logout{
  padding: 4px;
  width: 40px;
}


#navbar_logout:hover{
  text-align: center;
  border-radius: 50%;
  background-color: #a9a9a9;
  color: chartreuse;
  background-color: #d80e0e;
  box-shadow: 0px 0px 20px 13px rgb(211, 16, 9);
}




footer {
  background-color: var(--purple);
  display: flex;
  width: 100%;
  text-transform: capitalize;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 80px;
  margin-bottom: 0px;
  height: 200px;
}

.footer_content{
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  padding-bottom: 10px;
 
}

.column_about{
  padding-left: 40px;
}

.footer_content_links{
  display: flex;
  justify-content: center;
  width: 25%;
 
}

.column_links{
  margin: 0px 74px;
  width: max-content;
}

.ul_footer{
  padding: 0px;
  display: flex;
  padding-right: 5px;
  justify-content: space-between;
  width: max-content;
}

.ul_footer li{
  list-style-type: none;
}


.footer_h3,
.footer_p {
  color: chartreuse;
  line-height: 1.6;
  letter-spacing: 1px;
}

.ul_footer a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  line-height: 2;
}

.ul_footer a:hover{
  text-decoration: none;
  color: #ddd;
}

.column {
  width: 25%;
  float: left;
  padding: 20px;

}

.bottom {
  background-color: var(--purple);
  color: #fff;
}

.bottom p {
  margin: 0;
  line-height: 2.5;
  padding-left: 10px;
  text-transform: capitalize;
}







.footer_bar{
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  background-color: var(--purple);
  height: 55px;
  padding: 0;
  justify-content: center;
}

.footer_list{
  display: flex;
justify-content: flex-end;
align-items: center;
padding: 1px 1px 1px 1px;
margin: 0px;
width: auto;
}

.footer_list li{
  display: flex;
  list-style: none;
}

.footer_list a{
  margin-right: 10px;
  padding: 8px 3px;
  color: rgb(150, 248, 3);
}



@media(max-width:1024px) {
 

  footer {
    flex-wrap: wrap;
    text-align: center;
  }

  .column {
    width: 100%;
  }

  .bottom p {
    text-align: center;
  }
}

