.navbar{
  display: flex;
  text-transform: uppercase;
  background-color: #184f83;
  }

.navbar_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}



.navbar_Img{
  display: flex;
  justify-content: flex-start;
    width: 3em;
    padding-right: 1em;
    padding-left: 1em;
}

.navbar_search{
  display: flex;
  justify-content: center;
  padding: 1px 26px 1px 8px;
  margin: 0px;
  flex: 1;
  width: 33%;
  align-items: center;
}

.navbar_search_img{
  display: flex;
  align-content: center;
  height: 21px;
}



.navbar_list{
display: flex;
justify-content: flex-end;
align-items: center;
padding: 1px 1px 1px 1px;
margin: 0px;

}

.navbar_list li{
  display: flex;
  list-style: none;
  
  }

.navbar_list a:hover{
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #4cc9f0;
  box-shadow: 0px 0px 20px 13px rgba(76, 201, 240, 1);
}

.navbar_list a{
  margin-right: 10px;
  padding: 8px 3px;
  color: rgb(150, 248, 3);
}


form{
  display: flex;
  padding: 0px;
  margin: 0px;
}

.logout{
  cursor: pointer;
  background: none;
  text-transform: uppercase;
  text-decoration: underline;
  border: none;
  
}

#navbar_logout{
  padding: 4px;
}

#navbar_logout:hover{
  text-align: center;
  border-radius: 50%;
  background-color: #a9a9a9;
  color: chartreuse;
  background-color: #d80e0e;
  box-shadow: 0px 0px 20px 13px rgb(211, 16, 9);
}

/* body {
  margin: 0;
  background-color: #c7f1f7;
}
.nav {
  width: 100vw;
  background-color: #07325a;
}


.navbar_search{
  margin-right: 224px;
  display: flex;
  justify-content: center;
  padding-right: 200px;
  align-items: center;
}


ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  padding-right: 5em;
}

.imgLogo {
  display: flex;
  justify-content: flex-start;
  width: 5em;
  height: auto;
  text-decoration: none;
}

li {
  display: flex;
  padding-right: 5em;
  position: relative;
}

li a {
  display: block;
  color: aqua;
  text-align: center;
}
button {
  display: flex;
  color: aqua;
  text-align: center;
  border: none;
  justify-content: center;
  align-content: center;
  border: 1px;
  background-color: transparent;
  background: none;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;

}

form{
  padding: 0px;
  margin: 0px;
}

li:first-child {
  margin-right: auto;
}



.nav_button {
  border: 1px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  font-weight: 300;
  text-align: center;
}

.nav_button:hover {
  text-align: center;
  background-color: #a9a9a9;
  color: chartreuse;
  background-color: #4cc9f0;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
  box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
}

@media screen and (max-width: 600px) {
  .nav {
    display: block;
    width: 100vw;
    background-color: #07325a;
    justify-content: space-around;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    width: 100vw;
    height: 2em;
    padding: 0;
  }

  li {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .imgLogo {
    display: flex;
    justify-content: flex-start;
    width: 3em;
    height: auto;
    padding-left: auto;
  }

  li a {
    display: block;
    color: aqua;
    padding-right: 1em;
    text-align: center;
    justify-content: space-between;
  }

  img {
    width: 50vw;
    height: auto;
  }
} */
